<div class="container">
  <h1 class="all-main"><%= @list.name%></h1>

<h2>Bookmark list</h2>
<br>
<div class="row">
  <% if @list.bookmarks.any? %>
    <% @list.bookmarks.each do |bookmark| %>
      <div class="img-container col-lg-4 mr-5">
      <%= image_tag bookmark.movie.poster_url, alt: "movie", width: 200 %>
      <br>
      <br>
      <h4 style="text-align:center"><%= bookmark.movie.title %></h4>
      <br>
      <p style="text-align:end;"><i><%= bookmark.comment %><%= link_to list_bookmark_path(bookmark), method: :delete, data: { confirm: "Do you want to delete #{bookmark.movie.title}" } do %></i>
                <i class="far fa-trash-alt"></i>
                <% end %></p>


      <br>
      <br>
      </div>
    <% end %>
  <% else %>
    <i>No bookmarks yet...</i>
  <% end %>
</div>
<br>
<%= link_to "Add a bookmark",  new_list_bookmark_path(@list), class:"btn btn-outline-dark" %>
</br>
</br>
<%= link_to lists_path do%>
<p><i class="fas fa-undo"></i></p>
<% end %>

</div>
